body {
  direction: rtl !important;
  text-align: right !important;
  font-family: "Alef", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  direction: rtl !important;
  text-align: right !important;
}

.navbar, .sidebar, .footer {
  direction: rtl !important;
  text-align: right !important;
}
